<header id="header">
    <div class="container">
        <div class="header-row">
            <div class="header-column justify-content-start">
                <div class="logo">
                    <a asp-controller="Home" asp-action="Index" title="OnlineTicket"><img src="~/images/logo.png" alt="OnlineTicket" width="127" height="29"></a>
                </div>
            </div>
            <div class="header-column justify-content-end">
                <nav class="primary-menu navbar navbar-expand-lg">
                    <div id="header-nav" class="navbar-collapse collapse" style="">
                        <ul class="navbar-nav">
                            <li> <a href="#">Yardım<i class="arrow"></i></a>
                            <li> <a href="#">Biletlerim<i class="arrow"></i></a>
                            <li>
                                <a href="#">Kolay İptal / Değişim<i class="arrow"></i></a>
                            </li>
                            <li class="login-signup ml-lg-2"><a class="pl-lg-4 pr-0" data-toggle="modal" data-target="#login-signup" href="#" title="Giriş Yap / Kaydol">Giriş Yap / Kaydol</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#header-nav" aria-expanded="false"> <span></span> <span></span> <span></span> </button>
        </div>
    </div>
</header>