@model List<string>
<div class="owl-carousel owl-theme slideshow single-slider">
    @foreach (var slider in Model)
    {
        <div class="item"><a href="#"><img class="img-fluid" src="@slider" alt="banner 2" /></a></div>
    }
</div>